# ROS 2 Build artifacts
build/
install/
log/
data/
# Meshes
meshes/
# Python cache
__pycache__/
*.pyc

# IDE configs
.vscode/
.idea/

# System files
.DS_Store

# ROS bags
bags/

# Frame files
*.gv
*.pdf

# Mesh & map files
*.ply
*.nvblx

# Model files
*.onnx
*.plan
*.pt
#Mesh files
*.glb

# Windows ADS
*:Zone.Identifier

# Assets
isaac_ros_assets/

# Segmentation tool
segmentation_tool/
#input/
