# ROS 2 Build Ordner ignorieren (werden lokal generiert)
data/*
!data/.gitkeep
install/*
!install/.gitkeep
build/*
!build/.gitkeep

# Python Cache
__pycache__/
*.pyc

# IDE Einstellungen (VS Code etc.)
.vscode/
.idea/

# Systemdateien
.DS_Store
log/

# ROS bags
bags/

# Frame files
*.gv
*.pdf

# Mesh and map files
*.ply
*.nvblx

# Model files
*.onnx
*.plan
*.pt

# Assets
isaac_ros_assets/

# Segmentation tool
segmentation_tool/
__pycache__/
