# ROS 2 Build artifacts
build/
install/
log/
data/

# Python cache
__pycache__/
*.pyc

# IDE configs
.vscode/
.idea/

# System files
.DS_Store

# ROS bags
bags/

# Frame files
*.gv
*.pdf

# Mesh & map files
*.ply
*.nvblx

# Model files
*.onnx
*.plan
*.pt

# Windows ADS
*:Zone.Identifier

# Assets
isaac_ros_assets/

# Segmentation tool
segmentation_tool/
